<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="direccion">
            <h2><span jhiTranslate="kasufyApp.direccion.detail.title">Direccion</span> {{direccion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kasufyApp.direccion.calle">Calle</span></dt>
                <dd>
                    <span>{{direccion.calle}}</span>
                </dd>
                <dt><span jhiTranslate="kasufyApp.direccion.colonia">Colonia</span></dt>
                <dd>
                    <span>{{direccion.colonia}}</span>
                </dd>
                <dt><span jhiTranslate="kasufyApp.direccion.munucipio">Munucipio</span></dt>
                <dd>
                    <span>{{direccion.munucipio}}</span>
                </dd>
                <dt><span jhiTranslate="kasufyApp.direccion.estado">Estado</span></dt>
                <dd>
                    <span>{{direccion.estado}}</span>
                </dd>
                <dt><span jhiTranslate="kasufyApp.direccion.codigoPostl">Codigo Postl</span></dt>
                <dd>
                    <span>{{direccion.codigoPostl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/direccion', direccion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
